In [86]:
import pandas as pd
import numpy as np

In [87]:
vk_spec = pd.read_excel("auto_spec_db_trial_volkswagen (2).xlsx", sheet_name="V2")

In [88]:
vk_spec1 = vk_spec[['OEM', 'Brand', 'Vehicle classification', 'Model family']]

In [89]:
vk_spec1 = vk_spec1.drop_duplicates()

In [90]:
vk_spec1 = vk_spec1.reset_index(drop=True)

In [91]:
vk_spec1 = vk_spec1.sort_values(by=['Vehicle classification', 'Model family'])

In [92]:
vk_spec1

,OEM,Brand,Vehicle classification,Model family
9,Volkswagen Group,Volkswagen,Car,Arteon/CC
2,Volkswagen Group,Volkswagen,Car,Bora/Lavida/Sagitar
0,Volkswagen Group,Volkswagen,Car,Golf/Jetta
4,Volkswagen Group,Volkswagen,Car,ID.3
6,Volkswagen Group,Volkswagen,Car,Passat/Magotan
8,Volkswagen Group,Volkswagen,Car,Phideon
1,Volkswagen Group,Volkswagen,Car,Polo
3,Volkswagen Group,Volkswagen,Car,Virtus/Vento/Santana
7,Volkswagen Group,Volkswagen,Car,Volkswage Car Others
16,Volkswagen Group,Volkswagen,MPV,ID.Buzz
14,Volkswagen Group,Volkswagen,MPV,Touran/Sharan
15,Volkswagen Group,Volkswagen,MPV,Viloran
17,Volkswagen Group,Volkswagen,Pickup,Amarok
5,Volkswagen Group,Volkswagen,SUV/Crossover,ID.4/ID.5
18,Volkswagen Group,Volkswagen,SUV/Crossover,ID.6
10,Volkswagen Group,Volkswagen,SUV/Crossover,T-Cross/Tacqua/Taigun/Taigo
19,Volkswagen Group,Volkswagen,SUV/Crossover,Taos/Tharu
12,Volkswagen Group,Volkswagen,SUV/Crossover,Teramont/Atlas/Talagon/Tavendor
11,Volkswagen Group,Volkswagen,SUV/Crossover,Tiguan/Tayron
13,Volkswagen Group,Volkswagen,SUV/Crossover,Touareg

In [93]:
gp = list(vk_spec1.groupby(['Vehicle classification']))
row_list = []

for ind, row in gp:
    n = row.shape[1]
    v_line = pd.DataFrame([[np.NAN]*n], columns=row.columns)
    row_nan = pd.concat([row, v_line], axis=0)
    row_list.append(row_nan)
step2_vk_temp = pd.concat(row_list)

In [94]:
step2_vk_temp = step2_vk_temp.reset_index(drop=True)

In [95]:
step2_vk_temp

,OEM,Brand,Vehicle classification,Model family
0,Volkswagen Group,Volkswagen,Car,Arteon/CC
1,Volkswagen Group,Volkswagen,Car,Bora/Lavida/Sagitar
2,Volkswagen Group,Volkswagen,Car,Golf/Jetta
3,Volkswagen Group,Volkswagen,Car,ID.3
4,Volkswagen Group,Volkswagen,Car,Passat/Magotan
5,Volkswagen Group,Volkswagen,Car,Phideon
6,Volkswagen Group,Volkswagen,Car,Polo
7,Volkswagen Group,Volkswagen,Car,Virtus/Vento/Santana
8,Volkswagen Group,Volkswagen,Car,Volkswage Car Others
9,NaN,NaN,NaN,NaN
10,Volkswagen Group,Volkswagen,MPV,ID.Buzz
11,Volkswagen Group,Volkswagen,MPV,Touran/Sharan
12,Volkswagen Group,Volkswagen,MPV,Viloran
13,NaN,NaN,NaN,NaN
14,Volkswagen Group,Volkswagen,Pickup,Amarok
15,NaN,NaN,NaN,NaN
16,Volkswagen Group,Volkswagen,SUV/Crossover,ID.4/ID.5
17,Volkswagen Group,Volkswagen,SUV/Crossover,ID.6
18,Volkswagen Group,Volkswagen,SUV/Crossover,T-Cross/Tacqua/Taigun/Taigo
19,Volkswagen Group,Volkswagen,SUV/Crossover,Taos/Tharu
20,Volkswagen Group,Volkswagen,SUV/Crossover,Teramont/Atlas/Talagon/Tavendor
21,Volkswagen Group,Volkswagen,SUV/Crossover,Tiguan/Tayron
22,Volkswagen Group,Volkswagen,SUV/Crossover,Touareg
23,NaN,NaN,NaN,NaN

In [96]:
cols =["Australia", "India", "South East Asia", "Japan", "Rest of Asia Pacific", "South Korea", "People's Republic of China (mainland)", "Rest of Greater China", "Rest of Central & Eastern Europe",
                "Rest of Middle East", "France", "Germany", "UK", "Rest of Latin America", "Canada", "United States", "space1", "space2", "Australia-r", "India-r", "South East Asia-r", "Japan-r", "Rest of Asia Pacific-r", "South Korea-r", "People's Republic of China (mainland)-r", "Rest of Greater China-r", "Rest of Central & Eastern Europe-r",
                "Rest of Middle East-r", "France-r", "Germany-r", "UK-r", "Rest of Latin America-r", "Canada-r", "United States-r"]

In [97]:
df2 = pd.DataFrame(columns=cols)

In [98]:
df2

Empty DataFrame
Columns: [Australia, India, South East Asia, Japan, Rest of Asia Pacific, South Korea, People's Republic of China (mainland), Rest of Greater China, Rest of Central & Eastern Europe, Rest of Middle East, France, Germany, UK, Rest of Latin America, Canada, United States, space1, space2, Australia-r, India-r, South East Asia-r, Japan-r, Rest of Asia Pacific-r, South Korea-r, People's Republic of China (mainland)-r, Rest of Greater China-r, Rest of Central & Eastern Europe-r, Rest of Middle East-r, France-r, Germany-r, UK-r, Rest of Latin America-r, Canada-r, United States-r]
Index: []

[0 rows x 34 columns]

In [99]:
step2_vk_temp = pd.concat([step2_vk_temp, df2], axis=1)

In [100]:
step2_vk_temp

,OEM,Brand,Vehicle classification,Model family,Australia,India,South East Asia,Japan,Rest of Asia Pacific,South Korea,...,People's Republic of China (mainland)-r,Rest of Greater China-r,Rest of Central & Eastern Europe-r,Rest of Middle East-r,France-r,Germany-r,UK-r,Rest of Latin America-r,Canada-r,United States-r
0,Volkswagen Group,Volkswagen,Car,Arteon/CC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Volkswagen Group,Volkswagen,Car,Bora/Lavida/Sagitar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Volkswagen Group,Volkswagen,Car,Golf/Jetta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Volkswagen Group,Volkswagen,Car,ID.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Volkswagen Group,Volkswagen,Car,Passat/Magotan,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Volkswagen Group,Volkswagen,Car,Phideon,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Volkswagen Group,Volkswagen,Car,Polo,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Volkswagen Group,Volkswagen,Car,Virtus/Vento/Santana,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Volkswagen Group,Volkswagen,Car,Volkswage Car Others,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Volkswagen Group,Volkswagen,MPV,ID.Buzz,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Volkswagen Group,Volkswagen,MPV,Touran/Sharan,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Volkswagen Group,Volkswagen,MPV,Viloran,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Volkswagen Group,Volkswagen,Pickup,Amarok,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Volkswagen Group,Volkswagen,SUV/Crossover,ID.4/ID.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Volkswagen Group,Volkswagen,SUV/Crossover,ID.6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Volkswagen Group,Volkswagen,SUV/Crossover,T-Cross/Tacqua/Taigun/Taigo,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Volkswagen Group,Volkswagen,SUV/Crossover,Taos/Tharu,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Volkswagen Group,Volkswagen,SUV/Crossover,Teramont/Atlas/Talagon/Tavendor,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Volkswagen Group,Volkswagen,SUV/Crossover,Tiguan/Tayron,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Volkswagen Group,Volkswagen,SUV/Crossover,Touareg,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
# colA = ["OEM", "Brand", "Vehicle classification", "Model family", "Australia", "India", "South East Asia", "Japan", "Rest of Asia Pacific", "South Korea", "People's Republic of China (mainland)", "Rest of Greater China", "Rest of Central & Eastern Europe",
#                 "Rest of Middle East", "France", "Germany", "UK", "Rest of Latin America", "Canada", "United States", " ", " ", "Australia-r", "India-r", "South East Asia-r", "Japan-r", "Rest of Asia Pacific-r", "South Korea-r", "People's Republic of China (mainland)-r", "Rest of Greater China-r", "Rest of Central & Eastern Europe-r",
#                 "Rest of Middle East-r", "France-r", "Germany-r", "UK-r", "Rest of Latin America-r", "Canada-r", "United States-r"]

In [102]:
all_row = ['ALL', 'ALL', 'ALL', 'ALL']
ALL_df = pd.DataFrame(data = [all_row], columns= ["OEM", "Brand", "Vehicle classification", "Model family"])

for c in cols:
    ALL_df[c] = 0

ALL_df

,OEM,Brand,Vehicle classification,Model family,Australia,India,South East Asia,Japan,Rest of Asia Pacific,South Korea,...,People's Republic of China (mainland)-r,Rest of Greater China-r,Rest of Central & Eastern Europe-r,Rest of Middle East-r,France-r,Germany-r,UK-r,Rest of Latin America-r,Canada-r,United States-r
0,ALL,ALL,ALL,ALL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [103]:
nan_row = pd.DataFrame([[np.NAN]*38], columns = ALL_df.columns)

In [104]:
gp = list(step2_vk_temp.groupby(['Vehicle classification']))
row_list = []

for ind, row in gp:
    for c in cols:
        ALL_df[c] = 0
        res = pd.concat([ALL_df, row, nan_row], axis=0)
    row_list.append(res)

In [105]:
fin = pd.concat(row_list).reset_index(drop=True)

In [106]:
fin

,OEM,Brand,Vehicle classification,Model family,Australia,India,South East Asia,Japan,Rest of Asia Pacific,South Korea,...,People's Republic of China (mainland)-r,Rest of Greater China-r,Rest of Central & Eastern Europe-r,Rest of Middle East-r,France-r,Germany-r,UK-r,Rest of Latin America-r,Canada-r,United States-r
0,ALL,ALL,ALL,ALL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Volkswagen Group,Volkswagen,Car,Arteon/CC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Volkswagen Group,Volkswagen,Car,Bora/Lavida/Sagitar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Volkswagen Group,Volkswagen,Car,Golf/Jetta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Volkswagen Group,Volkswagen,Car,ID.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Volkswagen Group,Volkswagen,Car,Passat/Magotan,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Volkswagen Group,Volkswagen,Car,Phideon,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Volkswagen Group,Volkswagen,Car,Polo,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Volkswagen Group,Volkswagen,Car,Virtus/Vento/Santana,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Volkswagen Group,Volkswagen,Car,Volkswage Car Others,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,ALL,ALL,ALL,ALL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,Volkswagen Group,Volkswagen,MPV,ID.Buzz,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Volkswagen Group,Volkswagen,MPV,Touran/Sharan,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Volkswagen Group,Volkswagen,MPV,Viloran,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,ALL,ALL,ALL,ALL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,Volkswagen Group,Volkswagen,Pickup,Amarok,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,ALL,ALL,ALL,ALL,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Volkswagen Group,Volkswagen,SUV/Crossover,ID.4/ID.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Volkswagen Group,Volkswagen,SUV/Crossover,ID.6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Volkswagen Group,Volkswagen,SUV/Crossover,T-Cross/Tacqua/Taigun/Taigo,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Volkswagen Group,Volkswagen,SUV/Crossover,Taos/Tharu,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Volkswagen Group,Volkswagen,SUV/Crossover,Teramont/Atlas/Talagon/Tavendor,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Volkswagen Group,Volkswagen,SUV/Crossover,Tiguan/Tayron,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Volkswagen Group,Volkswagen,SUV/Crossover,Touareg,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
# !pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.1.0-py3-none-any.whl (152 kB)
     ------------------------------------ 152.7/152.7 kB 912.9 kB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.1.0

In [117]:
from pandas import ExcelWriter, read_excel
 
with pd.ExcelWriter('1234.xlsx', engine='xlsxwriter') as writer:
    fin.to_excel(writer, sheet_name='Sheet1')
    formatObj = writer.book.add_format({'num_format': '0.00%'})
    writer.book.sheetnames['Sheet1'].set_column('X:AN', cell_format=formatObj)
    workbook = writer.book
    worksheet = writer.sheets['Sheet1']
    
    header_no_color = workbook.add_format(
    {
        "bold": True,
        "text_wrap": True,
        "valign": "top",
        "fg_color": "#FFFFFF",
        "border": 1,
    }
)
    colors = ['#CD5C5C', '#F08080', '#FA8072', '#E9967A', 
          '#FFA07A', '#DC143C', '#FF0000', '#B22222', 
          '#8B0000', '#3CB371', '#2E8B57', '#228B22', 
          '#008000', '#006400', '#9ACD32', '#6B8E23',
          '#808000', '#556B2F', '#66CDAA', '#8FBC8B',
          '#20B2AA', '#008B8B', '#008080', '#ADD8E6', '#87CEEB',
          '#87CEFA', '#00BFFF', '#1E90FF', '#6495ED', '#7B68EE',
          '#4169E1', '#0000FF', '#E6E6FA', '#D8BFD8']
    for col_num, value in enumerate(fin.columns.values):
    
        if value in fin.columns.values[4:]:

            # print(col_num)    
            header_format = workbook.add_format(
                {
                 "bold": True,
                 "text_wrap": True,
                 "valign": "top",
                 "fg_color": colors[col_num - 10],
                 "border": 1,
                 }
                )

            worksheet.write(0, col_num + 1, value, header_format)

        else:
            worksheet.write(0, col_num + 1, value, header_no_color)

    
writer.close()

C:\Users\DanHan\anaconda3\envs\tamamori\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")

In [121]:
countries =["Australia", "India", "South East Asia", "Japan", "Rest of Asia Pacific", "South Korea", "People's Republic of China (mainland)", "Rest of Greater China", "Rest of Central & Eastern Europe",
                "Rest of Middle East", "France", "Germany", "UK", "Rest of Latin America", "Canada", "United States"]

In [122]:
type = ['ICE', 'BEV', 'PHEV', 'Others']

In [118]:
# 创建MultiIndex数据帧
cols1 = [['组1', '组1', '组2', '组2'], ['A', 'B', 'A', 'B']]
data = [[1, 2, 3, 4], [5, 6, 7, 8]]
index = ['第1行', '第2行']
df = pd.DataFrame(data, index=index, columns=cols1)

# 导出到Excel
df.to_excel('multi_header.xlsx', engine='openpyxl')

In [161]:
a = [(con, con, con, con) for con in countries]

In [162]:
a

[('Australia', 'Australia', 'Australia', 'Australia'),
 ('India', 'India', 'India', 'India'),
 ('South East Asia', 'South East Asia', 'South East Asia', 'South East Asia'),
 ('Japan', 'Japan', 'Japan', 'Japan'),
 ('Rest of Asia Pacific',
  'Rest of Asia Pacific',
  'Rest of Asia Pacific',
  'Rest of Asia Pacific'),
 ('South Korea', 'South Korea', 'South Korea', 'South Korea'),
 ("People's Republic of China (mainland)",
  "People's Republic of China (mainland)",
  "People's Republic of China (mainland)",
  "People's Republic of China (mainland)"),
 ('Rest of Greater China',
  'Rest of Greater China',
  'Rest of Greater China',
  'Rest of Greater China'),
 ('Rest of Central & Eastern Europe',
  'Rest of Central & Eastern Europe',
  'Rest of Central & Eastern Europe',
  'Rest of Central & Eastern Europe'),
 ('Rest of Middle East',
  'Rest of Middle East',
  'Rest of Middle East',
  'Rest of Middle East'),
 ('France', 'France', 'France', 'France'),
 ('Germany', 'Germany', 'Germany', 'Germany'),
 ('UK', 'UK', 'UK', 'UK'),
 ('Rest of Latin America',
  'Rest of Latin America',
  'Rest of Latin America',
  'Rest of Latin America'),
 ('Canada', 'Canada', 'Canada', 'Canada'),
 ('United States', 'United States', 'United States', 'United States')]

In [164]:
b = [j for i in a for j in i]

In [169]:
c = [n for m in range(len(countries)) for n in type]

In [165]:
b

['Australia',
 'Australia',
 'Australia',
 'Australia',
 'India',
 'India',
 'India',
 'India',
 'South East Asia',
 'South East Asia',
 'South East Asia',
 'South East Asia',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Rest of Asia Pacific',
 'Rest of Asia Pacific',
 'Rest of Asia Pacific',
 'Rest of Asia Pacific',
 'South Korea',
 'South Korea',
 'South Korea',
 'South Korea',
 "People's Republic of China (mainland)",
 "People's Republic of China (mainland)",
 "People's Republic of China (mainland)",
 "People's Republic of China (mainland)",
 'Rest of Greater China',
 'Rest of Greater China',
 'Rest of Greater China',
 'Rest of Greater China',
 'Rest of Central & Eastern Europe',
 'Rest of Central & Eastern Europe',
 'Rest of Central & Eastern Europe',
 'Rest of Central & Eastern Europe',
 'Rest of Middle East',
 'Rest of Middle East',
 'Rest of Middle East',
 'Rest of Middle East',
 'France',
 'France',
 'France',
 'France',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'UK',
 'UK',
 'UK',
 'UK',
 'Rest of Latin America',
 'Rest of Latin America',
 'Rest of Latin America',
 'Rest of Latin America',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'United States',
 'United States',
 'United States',
 'United States']

In [170]:
c

['ICE',
 'BEV',
 'PHEV',
 'Others',
 'ICE',
 'BEV',
 'PHEV',
 'Others',
 'ICE',
 'BEV',
 'PHEV',
 'Others',
 'ICE',
 'BEV',
 'PHEV',
 'Others',
 'ICE',
 'BEV',
 'PHEV',
 'Others',
 'ICE',
 'BEV',
 'PHEV',
 'Others',
 'ICE',
 'BEV',
 'PHEV',
 'Others',
 'ICE',
 'BEV',
 'PHEV',
 'Others',
 'ICE',
 'BEV',
 'PHEV',
 'Others',
 'ICE',
 'BEV',
 'PHEV',
 'Others',
 'ICE',
 'BEV',
 'PHEV',
 'Others',
 'ICE',
 'BEV',
 'PHEV',
 'Others',
 'ICE',
 'BEV',
 'PHEV',
 'Others',
 'ICE',
 'BEV',
 'PHEV',
 'Others',
 'ICE',
 'BEV',
 'PHEV',
 'Others',
 'ICE',
 'BEV',
 'PHEV',
 'Others']

In [171]:
df1 = pd.DataFrame(columns=[b,c])

In [172]:
df1

Empty DataFrame
Columns: [(Australia, ICE), (Australia, BEV), (Australia, PHEV), (Australia, Others), (India, ICE), (India, BEV), (India, PHEV), (India, Others), (South East Asia, ICE), (South East Asia, BEV), (South East Asia, PHEV), (South East Asia, Others), (Japan, ICE), (Japan, BEV), (Japan, PHEV), (Japan, Others), (Rest of Asia Pacific, ICE), (Rest of Asia Pacific, BEV), (Rest of Asia Pacific, PHEV), (Rest of Asia Pacific, Others), (South Korea, ICE), (South Korea, BEV), (South Korea, PHEV), (South Korea, Others), (People's Republic of China (mainland), ICE), (People's Republic of China (mainland), BEV), (People's Republic of China (mainland), PHEV), (People's Republic of China (mainland), Others), (Rest of Greater China, ICE), (Rest of Greater China, BEV), (Rest of Greater China, PHEV), (Rest of Greater China, Others), (Rest of Central & Eastern Europe, ICE), (Rest of Central & Eastern Europe, BEV), (Rest of Central & Eastern Europe, PHEV), (Rest of Central & Eastern Europe, Others), (Rest of Middle East, ICE), (Rest of Middle East, BEV), (Rest of Middle East, PHEV), (Rest of Middle East, Others), (France, ICE), (France, BEV), (France, PHEV), (France, Others), (Germany, ICE), (Germany, BEV), (Germany, PHEV), (Germany, Others), (UK, ICE), (UK, BEV), (UK, PHEV), (UK, Others), (Rest of Latin America, ICE), (Rest of Latin America, BEV), (Rest of Latin America, PHEV), (Rest of Latin America, Others), (Canada, ICE), (Canada, BEV), (Canada, PHEV), (Canada, Others), (United States, ICE), (United States, BEV), (United States, PHEV), (United States, Others)]
Index: []

[0 rows x 64 columns]

In [187]:
df1.to_excel("df1_test2.xlsx", engine='openpyxl')

In [182]:
# to_see

,"(Australia, BEV)","(Australia, ICE)","(Australia, Others)","(Australia, PHEV)","(Canada, BEV)","(Canada, ICE)","(Canada, Others)","(Canada, PHEV)","(France, BEV)","(France, ICE)",...,"(UK, Others)","(UK, PHEV)","(United States, BEV)","(United States, ICE)","(United States, Others)","(United States, PHEV)",Brand,Model family,OEM,Vehicle classification
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Volkswagen,Arteon/CC,Volkswagen Group,Car
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Volkswagen,Bora/Lavida/Sagitar,Volkswagen Group,Car
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Volkswagen,Golf/Jetta,Volkswagen Group,Car
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Volkswagen,ID.3,Volkswagen Group,Car
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Volkswagen,Passat/Magotan,Volkswagen Group,Car
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Volkswagen,Phideon,Volkswagen Group,Car
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Volkswagen,Polo,Volkswagen Group,Car
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Volkswagen,Virtus/Vento/Santana,Volkswagen Group,Car
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Volkswagen,Volkswage Car Others,Volkswagen Group,Car
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Volkswagen,ID.Buzz,Volkswagen Group,MPV
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Volkswagen,Touran/Sharan,Volkswagen Group,MPV
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Volkswagen,Viloran,Volkswagen Group,MPV
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Volkswagen,Amarok,Volkswagen Group,Pickup
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Volkswagen,ID.4/ID.5,Volkswagen Group,SUV/Crossover
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Volkswagen,ID.6,Volkswagen Group,SUV/Crossover
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Volkswagen,T-Cross/Tacqua/Taigun/Taigo,Volkswagen Group,SUV/Crossover
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Volkswagen,Taos/Tharu,Volkswagen Group,SUV/Crossover
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Volkswagen,Teramont/Atlas/Talagon/Tavendor,Volkswagen Group,SUV/Crossover
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Volkswagen,Tiguan/Tayron,Volkswagen Group,SUV/Crossover
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Volkswagen,Touareg,Volkswagen Group,SUV/Crossover

In [184]:
too_see = pd.concat([vk_spec1, df1])

In [185]:
to_see.columns

Index([                               ('Australia', 'BEV'),
                                      ('Australia', 'ICE'),
                                   ('Australia', 'Others'),
                                     ('Australia', 'PHEV'),
                                         ('Canada', 'BEV'),
                                         ('Canada', 'ICE'),
                                      ('Canada', 'Others'),
                                        ('Canada', 'PHEV'),
                                         ('France', 'BEV'),
                                         ('France', 'ICE'),
                                      ('France', 'Others'),
                                        ('France', 'PHEV'),
                                        ('Germany', 'BEV'),
                                        ('Germany', 'ICE'),
                                     ('Germany', 'Others'),
                                       ('Germany', 'PHEV'),
                                          ('India', 'BEV'),
                                          ('India', 'ICE'),
                                       ('India', 'Others'),
                                         ('India', 'PHEV'),
                                          ('Japan', 'BEV'),
                                          ('Japan', 'ICE'),
                                       ('Japan', 'Others'),
                                         ('Japan', 'PHEV'),
          ('People's Republic of China (mainland)', 'BEV'),
          ('People's Republic of China (mainland)', 'ICE'),
       ('People's Republic of China (mainland)', 'Others'),
         ('People's Republic of China (mainland)', 'PHEV'),
                           ('Rest of Asia Pacific', 'BEV'),
                           ('Rest of Asia Pacific', 'ICE'),
                        ('Rest of Asia Pacific', 'Others'),
                          ('Rest of Asia Pacific', 'PHEV'),
               ('Rest of Central & Eastern Europe', 'BEV'),
               ('Rest of Central & Eastern Europe', 'ICE'),
            ('Rest of Central & Eastern Europe', 'Others'),
              ('Rest of Central & Eastern Europe', 'PHEV'),
                          ('Rest of Greater China', 'BEV'),
                          ('Rest of Greater China', 'ICE'),
                       ('Rest of Greater China', 'Others'),
                         ('Rest of Greater China', 'PHEV'),
                          ('Rest of Latin America', 'BEV'),
                          ('Rest of Latin America', 'ICE'),
                       ('Rest of Latin America', 'Others'),
                         ('Rest of Latin America', 'PHEV'),
                            ('Rest of Middle East', 'BEV'),
                            ('Rest of Middle East', 'ICE'),
                         ('Rest of Middle East', 'Others'),
                           ('Rest of Middle East', 'PHEV'),
                                ('South East Asia', 'BEV'),
                                ('South East Asia', 'ICE'),
                             ('South East Asia', 'Others'),
                               ('South East Asia', 'PHEV'),
                                    ('South Korea', 'BEV'),
                                    ('South Korea', 'ICE'),
                                 ('South Korea', 'Others'),
                                   ('South Korea', 'PHEV'),
                                             ('UK', 'BEV'),
                                             ('UK', 'ICE'),
                                          ('UK', 'Others'),
                                            ('UK', 'PHEV'),
                                  ('United States', 'BEV'),
                                  ('United States', 'ICE'),
                               ('United States', 'Others'),
                                 ('United States', 'PHEV'),
                                                   'Brand',
                                            'Model family',
                                                     'OEM',
                                  'Vehicle classification'],
      dtype='object')

In [186]:
vk_spec1.to_excel("vk_spec1.xlsx", index=False)

In [267]:
df1 = pd.read_excel("df1_test1.xlsx", header=[0,1])
df2 = pd.read_excel("vk_spec1.xlsx", header=[0,1])

In [268]:
df2.head()

                OEM       Brand Vehicle classification         Model family
   Volkswagen Group  Volkswagen                    Car            Arteon/CC
0  Volkswagen Group  Volkswagen                    Car  Bora/Lavida/Sagitar
1  Volkswagen Group  Volkswagen                    Car           Golf/Jetta
2  Volkswagen Group  Volkswagen                    Car                 ID.3
3  Volkswagen Group  Volkswagen                    Car       Passat/Magotan
4  Volkswagen Group  Volkswagen                    Car              Phideon

In [269]:
fin = pd.concat([df2, df1.drop([('Unnamed: 0_level_0', 'Unnamed: 0_level_1')], axis = 1)], axis = 1)
fin

                 OEM       Brand Vehicle classification  \
    Volkswagen Group  Volkswagen                    Car
0   Volkswagen Group  Volkswagen                    Car
1   Volkswagen Group  Volkswagen                    Car
2   Volkswagen Group  Volkswagen                    Car
3   Volkswagen Group  Volkswagen                    Car
4   Volkswagen Group  Volkswagen                    Car
5   Volkswagen Group  Volkswagen                    Car
6   Volkswagen Group  Volkswagen                    Car
7   Volkswagen Group  Volkswagen                    Car
8   Volkswagen Group  Volkswagen                    MPV
9   Volkswagen Group  Volkswagen                    MPV
10  Volkswagen Group  Volkswagen                    MPV
11  Volkswagen Group  Volkswagen                 Pickup
12  Volkswagen Group  Volkswagen          SUV/Crossover
13  Volkswagen Group  Volkswagen          SUV/Crossover
14  Volkswagen Group  Volkswagen          SUV/Crossover
15  Volkswagen Group  Volkswagen          SUV/Crossover
16  Volkswagen Group  Volkswagen          SUV/Crossover
17  Volkswagen Group  Volkswagen          SUV/Crossover
18  Volkswagen Group  Volkswagen          SUV/Crossover

                       Model family Australia                  India       \
                          Arteon/CC       ICE  BEV PHEV Others   ICE  BEV
0               Bora/Lavida/Sagitar       NaN  NaN  NaN    NaN   NaN  NaN
1                        Golf/Jetta       NaN  NaN  NaN    NaN   NaN  NaN
2                              ID.3       NaN  NaN  NaN    NaN   NaN  NaN
3                    Passat/Magotan       NaN  NaN  NaN    NaN   NaN  NaN
4                           Phideon       NaN  NaN  NaN    NaN   NaN  NaN
5                              Polo       NaN  NaN  NaN    NaN   NaN  NaN
6              Virtus/Vento/Santana       NaN  NaN  NaN    NaN   NaN  NaN
7              Volkswage Car Others       NaN  NaN  NaN    NaN   NaN  NaN
8                           ID.Buzz       NaN  NaN  NaN    NaN   NaN  NaN
9                     Touran/Sharan       NaN  NaN  NaN    NaN   NaN  NaN
10                          Viloran       NaN  NaN  NaN    NaN   NaN  NaN
11                           Amarok       NaN  NaN  NaN    NaN   NaN  NaN
12                        ID.4/ID.5       NaN  NaN  NaN    NaN   NaN  NaN
13                             ID.6       NaN  NaN  NaN    NaN   NaN  NaN
14      T-Cross/Tacqua/Taigun/Taigo       NaN  NaN  NaN    NaN   NaN  NaN
15                       Taos/Tharu       NaN  NaN  NaN    NaN   NaN  NaN
16  Teramont/Atlas/Talagon/Tavendor       NaN  NaN  NaN    NaN   NaN  NaN
17                    Tiguan/Tayron       NaN  NaN  NaN    NaN   NaN  NaN
18                          Touareg       NaN  NaN  NaN    NaN   NaN  NaN

    ... Rest of Latin America        Canada                  United States  \
    ...                  PHEV Others    ICE  BEV PHEV Others           ICE
0   ...                   NaN    NaN    NaN  NaN  NaN    NaN           NaN
1   ...                   NaN    NaN    NaN  NaN  NaN    NaN           NaN
2   ...                   NaN    NaN    NaN  NaN  NaN    NaN           NaN
3   ...                   NaN    NaN    NaN  NaN  NaN    NaN           NaN
4   ...                   NaN    NaN    NaN  NaN  NaN    NaN           NaN
5   ...                   NaN    NaN    NaN  NaN  NaN    NaN           NaN
6   ...                   NaN    NaN    NaN  NaN  NaN    NaN           NaN
7   ...                   NaN    NaN    NaN  NaN  NaN    NaN           NaN
8   ...                   NaN    NaN    NaN  NaN  NaN    NaN           NaN
9   ...                   NaN    NaN    NaN  NaN  NaN    NaN           NaN
10  ...                   NaN    NaN    NaN  NaN  NaN    NaN           NaN
11  ...                   NaN    NaN    NaN  NaN  NaN    NaN           NaN
12  ...                   NaN    NaN    NaN  NaN  NaN    NaN           NaN
13  ...                   NaN    NaN    NaN  NaN  NaN    NaN           NaN
14  ...                   NaN    NaN    NaN  NaN  NaN    NaN           NaN
15  ...                   NaN    NaN    NaN  NaN  NaN    NaN           NaN
16  ...                   NaN    NaN    NaN  NaN  NaN    NaN           NaN
17  ...                   NaN    NaN    NaN  NaN  NaN    NaN           NaN
18  ...                   NaN    NaN    NaN  NaN  NaN    NaN           NaN


    BEV PHEV Others
0   NaN  NaN    NaN
1   NaN  NaN    NaN
2   NaN  NaN    NaN
3   NaN  NaN    NaN
4   NaN  NaN    NaN
5   NaN  NaN    NaN
6   NaN  NaN    NaN
7   NaN  NaN    NaN
8   NaN  NaN    NaN
9   NaN  NaN    NaN
10  NaN  NaN    NaN
11  NaN  NaN    NaN
12  NaN  NaN    NaN
13  NaN  NaN    NaN
14  NaN  NaN    NaN
15  NaN  NaN    NaN
16  NaN  NaN    NaN
17  NaN  NaN    NaN
18  NaN  NaN    NaN

[19 rows x 68 columns]

In [270]:
# fin.loc[0] = {
#   fin.columns[0] : fin.columns[0][1],
#   fin.columns[1] : fin.columns[1][1],
#   fin.columns[2] : fin.columns[2][1],
#   fin.columns[3] : fin.columns[3][1],
# }

In [224]:
# fin

In [218]:
# fin.columns = pd.MultiIndex.from_tuples(fin.set_axis(fin.columns.values, axis=1).rename(columns={
#    (fin.columns[0][0], fin.columns[0][1]): (fin.columns[0][0], ''),
#    (fin.columns[1][0], fin.columns[1][1]): (fin.columns[1][0], ''),
#    (fin.columns[2][0], fin.columns[2][1]): (fin.columns[2][0], ''),
#    (fin.columns[3][0], fin.columns[3][1]): (fin.columns[3][0], ''),

#   }))

In [219]:
# fin.columns[1][1]

In [271]:
l1 = [fin.columns[0][1], fin.columns[1][1], fin.columns[2][1], fin.columns[3][1]]

for _ in range(64):
  l1.append(np.NAN)
  
df = pd.DataFrame(np.insert(fin.values, 0, values= l1, axis=0))
df.head()

,0,1,2,3,4,5,6,7,8,9,...,58,59,60,61,62,63,64,65,66,67
0,Volkswagen Group,Volkswagen,Car,Arteon/CC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Volkswagen Group,Volkswagen,Car,Bora/Lavida/Sagitar,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Volkswagen Group,Volkswagen,Car,Golf/Jetta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Volkswagen Group,Volkswagen,Car,ID.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Volkswagen Group,Volkswagen,Car,Passat/Magotan,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [272]:
fin.columns = pd.MultiIndex.from_tuples(fin.set_axis(fin.columns.values, axis=1).rename(columns={
   (fin.columns[0][0], fin.columns[0][1]): (fin.columns[0][0], ''),
   (fin.columns[1][0], fin.columns[1][1]): (fin.columns[1][0], ''),
   (fin.columns[2][0], fin.columns[2][1]): (fin.columns[2][0], ''),
   (fin.columns[3][0], fin.columns[3][1]): (fin.columns[3][0], ''),

  }))

In [273]:
df.columns = fin.columns
df.head()

                OEM       Brand Vehicle classification         Model family  \

0  Volkswagen Group  Volkswagen                    Car            Arteon/CC
1  Volkswagen Group  Volkswagen                    Car  Bora/Lavida/Sagitar
2  Volkswagen Group  Volkswagen                    Car           Golf/Jetta
3  Volkswagen Group  Volkswagen                    Car                 ID.3
4  Volkswagen Group  Volkswagen                    Car       Passat/Magotan

  Australia                  India       ... Rest of Latin America         \
        ICE  BEV PHEV Others   ICE  BEV  ...                  PHEV Others
0       NaN  NaN  NaN    NaN   NaN  NaN  ...                   NaN    NaN
1       NaN  NaN  NaN    NaN   NaN  NaN  ...                   NaN    NaN
2       NaN  NaN  NaN    NaN   NaN  NaN  ...                   NaN    NaN
3       NaN  NaN  NaN    NaN   NaN  NaN  ...                   NaN    NaN
4       NaN  NaN  NaN    NaN   NaN  NaN  ...                   NaN    NaN

  Canada                  United States
     ICE  BEV PHEV Others           ICE  BEV PHEV Others
0    NaN  NaN  NaN    NaN           NaN  NaN  NaN    NaN
1    NaN  NaN  NaN    NaN           NaN  NaN  NaN    NaN
2    NaN  NaN  NaN    NaN           NaN  NaN  NaN    NaN
3    NaN  NaN  NaN    NaN           NaN  NaN  NaN    NaN
4    NaN  NaN  NaN    NaN           NaN  NaN  NaN    NaN

[5 rows x 68 columns]

In [231]:
df.to_excel("df_sample.xlsx")

In [238]:
df.columns.levels[0]

Index(['Australia', 'Brand', 'Canada', 'France', 'Germany', 'India', 'Japan',
       'Model family', 'OEM', 'People's Republic of China (mainland)',
       'Rest of Asia Pacific', 'Rest of Central & Eastern Europe',
       'Rest of Greater China', 'Rest of Latin America', 'Rest of Middle East',
       'South East Asia', 'South Korea', 'UK', 'United States',
       'Vehicle classification'],
      dtype='object')

In [274]:
all_row2 = ['ALL', 'ALL', 'ALL', 'ALL', 'ICE', 'BEV', 'PHEV', 'Others', 'ICE', 'BEV', 'PHEV', 'Others', 'ICE', 'BEV', 'PHEV', 'Others', 'ICE', 'BEV', 'PHEV', 'Others', 'ICE', 'BEV', 'PHEV', 'Others', 'ICE', 'BEV', 'PHEV', 'Others', 'ICE', 'BEV', 'PHEV', 'Others', 'ICE', 'BEV', 'PHEV', 'Others', 'ICE', 'BEV', 'PHEV', 'Others', 'ICE', 'BEV', 'PHEV', 'Others', 'ICE', 'BEV', 'PHEV', 'Others', 'ICE', 'BEV', 'PHEV', 'Others', 'ICE', 'BEV', 'PHEV', 'Others', 'ICE', 'BEV', 'PHEV', 'Others', 'ICE', 'BEV', 'PHEV', 'Others', 'ICE', 'BEV', 'PHEV', 'Others']
ALL_df2 = pd.DataFrame(data = [all_row2], columns= df.columns)

# for c in countries:
#     for t in ['ICE', 'BEV', 'PHEV', 'Others']:
#         ALL_df2[c] = c
#         ALL_df[t] = t

ALL_df2

   OEM Brand Vehicle classification Model family Australia                     \
                                                       ICE  BEV  PHEV  Others
0  ALL   ALL                    ALL          ALL       ICE  BEV  PHEV  Others

  India       ... Rest of Latin America         Canada                     \
    ICE  BEV  ...                  PHEV  Others    ICE  BEV  PHEV  Others
0   ICE  BEV  ...                  PHEV  Others    ICE  BEV  PHEV  Others

  United States
            ICE  BEV  PHEV  Others
0           ICE  BEV  PHEV  Others

[1 rows x 68 columns]

In [275]:
nan_row2 = pd.DataFrame([[np.NAN]*68], columns = ALL_df2.columns)

In [276]:
df.columns[2]

('Vehicle classification', '')

In [279]:
gp4 = list(df.groupby(df.columns[2]))
row_list4 = []

for ind, row in gp4:
    print(row)
    res4 = pd.concat([ALL_df2, row, nan_row2], axis=0)
    row_list4.append(res4)

                OEM       Brand Vehicle classification          Model family  \

0  Volkswagen Group  Volkswagen                    Car             Arteon/CC
1  Volkswagen Group  Volkswagen                    Car   Bora/Lavida/Sagitar
2  Volkswagen Group  Volkswagen                    Car            Golf/Jetta
3  Volkswagen Group  Volkswagen                    Car                  ID.3
4  Volkswagen Group  Volkswagen                    Car        Passat/Magotan
5  Volkswagen Group  Volkswagen                    Car               Phideon
6  Volkswagen Group  Volkswagen                    Car                  Polo
7  Volkswagen Group  Volkswagen                    Car  Virtus/Vento/Santana
8  Volkswagen Group  Volkswagen                    Car  Volkswage Car Others

  Australia                  India       ... Rest of Latin America         \
        ICE  BEV PHEV Others   ICE  BEV  ...                  PHEV Others
0       NaN  NaN  NaN    NaN   NaN  NaN  ...                   NaN    NaN
1       NaN  NaN  NaN    NaN   NaN  NaN  ...                   NaN    NaN
2       NaN  NaN  NaN    NaN   NaN  NaN  ...                   NaN    NaN
3       NaN  NaN  NaN    NaN   NaN  NaN  ...                   NaN    NaN
4       NaN  NaN  NaN    NaN   NaN  NaN  ...                   NaN    NaN
5       NaN  NaN  NaN    NaN   NaN  NaN  ...                   NaN    NaN
6       NaN  NaN  NaN    NaN   NaN  NaN  ...                   NaN    NaN
7       NaN  NaN  NaN    NaN   NaN  NaN  ...                   NaN    NaN
8       NaN  NaN  NaN    NaN   NaN  NaN  ...                   NaN    NaN

  Canada                  United States
     ICE  BEV PHEV Others           ICE  BEV PHEV Others
0    NaN  NaN  NaN    NaN           NaN  NaN  NaN    NaN
1    NaN  NaN  NaN    NaN           NaN  NaN  NaN    NaN
2    NaN  NaN  NaN    NaN           NaN  NaN  NaN    NaN
3    NaN  NaN  NaN    NaN           NaN  NaN  NaN    NaN
4    NaN  NaN  NaN    NaN           NaN  NaN  NaN    NaN
5    NaN  NaN  NaN    NaN           NaN  NaN  NaN    NaN
6    NaN  NaN  NaN    NaN           NaN  NaN  NaN    NaN
7    NaN  NaN  NaN    NaN           NaN  NaN  NaN    NaN
8    NaN  NaN  NaN    NaN           NaN  NaN  NaN    NaN

[9 rows x 68 columns]
                 OEM       Brand Vehicle classification   Model family  \

9   Volkswagen Group  Volkswagen                    MPV        ID.Buzz
10  Volkswagen Group  Volkswagen                    MPV  Touran/Sharan
11  Volkswagen Group  Volkswagen                    MPV        Viloran

   Australia                  India       ... Rest of Latin America         \
         ICE  BEV PHEV Others   ICE  BEV  ...                  PHEV Others
9        NaN  NaN  NaN    NaN   NaN  NaN  ...                   NaN    NaN
10       NaN  NaN  NaN    NaN   NaN  NaN  ...                   NaN    NaN
11       NaN  NaN  NaN    NaN   NaN  NaN  ...                   NaN    NaN

   Canada                  United States
      ICE  BEV PHEV Others           ICE  BEV PHEV Others
9     NaN  NaN  NaN    NaN           NaN  NaN  NaN    NaN
10    NaN  NaN  NaN    NaN           NaN  NaN  NaN    NaN
11    NaN  NaN  NaN    NaN           NaN  NaN  NaN    NaN

[3 rows x 68 columns]
                 OEM       Brand Vehicle classification Model family  \

12  Volkswagen Group  Volkswagen                 Pickup       Amarok

   Australia                  India       ... Rest of Latin America         \
         ICE  BEV PHEV Others   ICE  BEV  ...                  PHEV Others
12       NaN  NaN  NaN    NaN   NaN  NaN  ...                   NaN    NaN

   Canada                  United States
      ICE  BEV PHEV Others           ICE  BEV PHEV Others
12    NaN  NaN  NaN    NaN           NaN  NaN  NaN    NaN

[1 rows x 68 columns]
                 OEM       Brand Vehicle classification  \

13  Volkswagen Group  Volkswagen          SUV/Crossover
14  Volkswagen Group  Volkswagen          SUV/Crossover
15  Volkswagen Group  Volkswagen          SUV/Crossover
16  Volkswagen Group  Volkswagen          SUV/Crossover
17  Volkswagen Group  Volkswagen          SUV/Crossover
18  Volkswagen Group  Volkswagen          SUV/Crossover
19  Volkswagen Group  Volkswagen          SUV/Crossover

                       Model family Australia                  India       \
                                          ICE  BEV PHEV Others   ICE  BEV
13                        ID.4/ID.5       NaN  NaN  NaN    NaN   NaN  NaN
14                             ID.6       NaN  NaN  NaN    NaN   NaN  NaN
15      T-Cross/Tacqua/Taigun/Taigo       NaN  NaN  NaN    NaN   NaN  NaN
16                       Taos/Tharu       NaN  NaN  NaN    NaN   NaN  NaN
17  Teramont/Atlas/Talagon/Tavendor       NaN  NaN  NaN    NaN   NaN  NaN
18                    Tiguan/Tayron       NaN  NaN  NaN    NaN   NaN  NaN
19                          Touareg       NaN  NaN  NaN    NaN   NaN  NaN

    ... Rest of Latin America        Canada                  United States  \
    ...                  PHEV Others    ICE  BEV PHEV Others           ICE
13  ...                   NaN    NaN    NaN  NaN  NaN    NaN           NaN
14  ...                   NaN    NaN    NaN  NaN  NaN    NaN           NaN
15  ...                   NaN    NaN    NaN  NaN  NaN    NaN           NaN
16  ...                   NaN    NaN    NaN  NaN  NaN    NaN           NaN
17  ...                   NaN    NaN    NaN  NaN  NaN    NaN           NaN
18  ...                   NaN    NaN    NaN  NaN  NaN    NaN           NaN
19  ...                   NaN    NaN    NaN  NaN  NaN    NaN           NaN


    BEV PHEV Others
13  NaN  NaN    NaN
14  NaN  NaN    NaN
15  NaN  NaN    NaN
16  NaN  NaN    NaN
17  NaN  NaN    NaN
18  NaN  NaN    NaN
19  NaN  NaN    NaN

[7 rows x 68 columns]

In [280]:
fin4 = pd.concat(row_list4).reset_index(drop=True)

In [281]:
fin4

                 OEM       Brand Vehicle classification  \

0                ALL         ALL                    ALL
1   Volkswagen Group  Volkswagen                    Car
2   Volkswagen Group  Volkswagen                    Car
3   Volkswagen Group  Volkswagen                    Car
4   Volkswagen Group  Volkswagen                    Car
5   Volkswagen Group  Volkswagen                    Car
6   Volkswagen Group  Volkswagen                    Car
7   Volkswagen Group  Volkswagen                    Car
8   Volkswagen Group  Volkswagen                    Car
9   Volkswagen Group  Volkswagen                    Car
10               NaN         NaN                    NaN
11               ALL         ALL                    ALL
12  Volkswagen Group  Volkswagen                    MPV
13  Volkswagen Group  Volkswagen                    MPV
14  Volkswagen Group  Volkswagen                    MPV
15               NaN         NaN                    NaN
16               ALL         ALL                    ALL
17  Volkswagen Group  Volkswagen                 Pickup
18               NaN         NaN                    NaN
19               ALL         ALL                    ALL
20  Volkswagen Group  Volkswagen          SUV/Crossover
21  Volkswagen Group  Volkswagen          SUV/Crossover
22  Volkswagen Group  Volkswagen          SUV/Crossover
23  Volkswagen Group  Volkswagen          SUV/Crossover
24  Volkswagen Group  Volkswagen          SUV/Crossover
25  Volkswagen Group  Volkswagen          SUV/Crossover
26  Volkswagen Group  Volkswagen          SUV/Crossover
27               NaN         NaN                    NaN

                       Model family Australia                    India       \
                                          ICE  BEV  PHEV  Others   ICE  BEV
0                               ALL       ICE  BEV  PHEV  Others   ICE  BEV
1                         Arteon/CC       NaN  NaN   NaN     NaN   NaN  NaN
2               Bora/Lavida/Sagitar       NaN  NaN   NaN     NaN   NaN  NaN
3                        Golf/Jetta       NaN  NaN   NaN     NaN   NaN  NaN
4                              ID.3       NaN  NaN   NaN     NaN   NaN  NaN
5                    Passat/Magotan       NaN  NaN   NaN     NaN   NaN  NaN
6                           Phideon       NaN  NaN   NaN     NaN   NaN  NaN
7                              Polo       NaN  NaN   NaN     NaN   NaN  NaN
8              Virtus/Vento/Santana       NaN  NaN   NaN     NaN   NaN  NaN
9              Volkswage Car Others       NaN  NaN   NaN     NaN   NaN  NaN
10                              NaN       NaN  NaN   NaN     NaN   NaN  NaN
11                              ALL       ICE  BEV  PHEV  Others   ICE  BEV
12                          ID.Buzz       NaN  NaN   NaN     NaN   NaN  NaN
13                    Touran/Sharan       NaN  NaN   NaN     NaN   NaN  NaN
14                          Viloran       NaN  NaN   NaN     NaN   NaN  NaN
15                              NaN       NaN  NaN   NaN     NaN   NaN  NaN
16                              ALL       ICE  BEV  PHEV  Others   ICE  BEV
17                           Amarok       NaN  NaN   NaN     NaN   NaN  NaN
18                              NaN       NaN  NaN   NaN     NaN   NaN  NaN
19                              ALL       ICE  BEV  PHEV  Others   ICE  BEV
20                        ID.4/ID.5       NaN  NaN   NaN     NaN   NaN  NaN
21                             ID.6       NaN  NaN   NaN     NaN   NaN  NaN
22      T-Cross/Tacqua/Taigun/Taigo       NaN  NaN   NaN     NaN   NaN  NaN
23                       Taos/Tharu       NaN  NaN   NaN     NaN   NaN  NaN
24  Teramont/Atlas/Talagon/Tavendor       NaN  NaN   NaN     NaN   NaN  NaN
25                    Tiguan/Tayron       NaN  NaN   NaN     NaN   NaN  NaN
26                          Touareg       NaN  NaN   NaN     NaN   NaN  NaN
27                              NaN       NaN  NaN   NaN     NaN   NaN  NaN

    ... Rest of Latin America         Canada                    United States  \
    ...                  PHEV  Others    ICE  BEV  PHEV  Others           ICE
0   ...                  PHEV  Others    ICE  BEV  PHEV  Others           ICE
1   ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
2   ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
3   ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
4   ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
5   ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
6   ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
7   ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
8   ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
9   ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
10  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
11  ...                  PHEV  Others    ICE  BEV  PHEV  Others           ICE
12  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
13  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
14  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
15  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
16  ...                  PHEV  Others    ICE  BEV  PHEV  Others           ICE
17  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
18  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
19  ...                  PHEV  Others    ICE  BEV  PHEV  Others           ICE
20  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
21  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
22  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
23  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
24  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
25  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
26  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
27  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN


    BEV  PHEV  Others
0   BEV  PHEV  Others
1   NaN   NaN     NaN
2   NaN   NaN     NaN
3   NaN   NaN     NaN
4   NaN   NaN     NaN
5   NaN   NaN     NaN
6   NaN   NaN     NaN
7   NaN   NaN     NaN
8   NaN   NaN     NaN
9   NaN   NaN     NaN
10  NaN   NaN     NaN
11  BEV  PHEV  Others
12  NaN   NaN     NaN
13  NaN   NaN     NaN
14  NaN   NaN     NaN
15  NaN   NaN     NaN
16  BEV  PHEV  Others
17  NaN   NaN     NaN
18  NaN   NaN     NaN
19  BEV  PHEV  Others
20  NaN   NaN     NaN
21  NaN   NaN     NaN
22  NaN   NaN     NaN
23  NaN   NaN     NaN
24  NaN   NaN     NaN
25  NaN   NaN     NaN
26  NaN   NaN     NaN
27  NaN   NaN     NaN

[28 rows x 68 columns]

In [282]:
# fin4.to_excel("fin4_to_see.xlsx")

In [287]:
fin4 = fin4.rename(columns={fin4.columns[0][1]:'ALL'})

In [288]:
fin4

                 OEM       Brand Vehicle classification  \
                 ALL         ALL                    ALL
0                ALL         ALL                    ALL
1   Volkswagen Group  Volkswagen                    Car
2   Volkswagen Group  Volkswagen                    Car
3   Volkswagen Group  Volkswagen                    Car
4   Volkswagen Group  Volkswagen                    Car
5   Volkswagen Group  Volkswagen                    Car
6   Volkswagen Group  Volkswagen                    Car
7   Volkswagen Group  Volkswagen                    Car
8   Volkswagen Group  Volkswagen                    Car
9   Volkswagen Group  Volkswagen                    Car
10               NaN         NaN                    NaN
11               ALL         ALL                    ALL
12  Volkswagen Group  Volkswagen                    MPV
13  Volkswagen Group  Volkswagen                    MPV
14  Volkswagen Group  Volkswagen                    MPV
15               NaN         NaN                    NaN
16               ALL         ALL                    ALL
17  Volkswagen Group  Volkswagen                 Pickup
18               NaN         NaN                    NaN
19               ALL         ALL                    ALL
20  Volkswagen Group  Volkswagen          SUV/Crossover
21  Volkswagen Group  Volkswagen          SUV/Crossover
22  Volkswagen Group  Volkswagen          SUV/Crossover
23  Volkswagen Group  Volkswagen          SUV/Crossover
24  Volkswagen Group  Volkswagen          SUV/Crossover
25  Volkswagen Group  Volkswagen          SUV/Crossover
26  Volkswagen Group  Volkswagen          SUV/Crossover
27               NaN         NaN                    NaN

                       Model family Australia                    India       \
                                ALL       ICE  BEV  PHEV  Others   ICE  BEV
0                               ALL       ICE  BEV  PHEV  Others   ICE  BEV
1                         Arteon/CC       NaN  NaN   NaN     NaN   NaN  NaN
2               Bora/Lavida/Sagitar       NaN  NaN   NaN     NaN   NaN  NaN
3                        Golf/Jetta       NaN  NaN   NaN     NaN   NaN  NaN
4                              ID.3       NaN  NaN   NaN     NaN   NaN  NaN
5                    Passat/Magotan       NaN  NaN   NaN     NaN   NaN  NaN
6                           Phideon       NaN  NaN   NaN     NaN   NaN  NaN
7                              Polo       NaN  NaN   NaN     NaN   NaN  NaN
8              Virtus/Vento/Santana       NaN  NaN   NaN     NaN   NaN  NaN
9              Volkswage Car Others       NaN  NaN   NaN     NaN   NaN  NaN
10                              NaN       NaN  NaN   NaN     NaN   NaN  NaN
11                              ALL       ICE  BEV  PHEV  Others   ICE  BEV
12                          ID.Buzz       NaN  NaN   NaN     NaN   NaN  NaN
13                    Touran/Sharan       NaN  NaN   NaN     NaN   NaN  NaN
14                          Viloran       NaN  NaN   NaN     NaN   NaN  NaN
15                              NaN       NaN  NaN   NaN     NaN   NaN  NaN
16                              ALL       ICE  BEV  PHEV  Others   ICE  BEV
17                           Amarok       NaN  NaN   NaN     NaN   NaN  NaN
18                              NaN       NaN  NaN   NaN     NaN   NaN  NaN
19                              ALL       ICE  BEV  PHEV  Others   ICE  BEV
20                        ID.4/ID.5       NaN  NaN   NaN     NaN   NaN  NaN
21                             ID.6       NaN  NaN   NaN     NaN   NaN  NaN
22      T-Cross/Tacqua/Taigun/Taigo       NaN  NaN   NaN     NaN   NaN  NaN
23                       Taos/Tharu       NaN  NaN   NaN     NaN   NaN  NaN
24  Teramont/Atlas/Talagon/Tavendor       NaN  NaN   NaN     NaN   NaN  NaN
25                    Tiguan/Tayron       NaN  NaN   NaN     NaN   NaN  NaN
26                          Touareg       NaN  NaN   NaN     NaN   NaN  NaN
27                              NaN       NaN  NaN   NaN     NaN   NaN  NaN

    ... Rest of Latin America         Canada                    United States  \
    ...                  PHEV  Others    ICE  BEV  PHEV  Others           ICE
0   ...                  PHEV  Others    ICE  BEV  PHEV  Others           ICE
1   ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
2   ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
3   ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
4   ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
5   ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
6   ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
7   ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
8   ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
9   ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
10  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
11  ...                  PHEV  Others    ICE  BEV  PHEV  Others           ICE
12  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
13  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
14  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
15  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
16  ...                  PHEV  Others    ICE  BEV  PHEV  Others           ICE
17  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
18  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
19  ...                  PHEV  Others    ICE  BEV  PHEV  Others           ICE
20  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
21  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
22  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
23  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
24  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
25  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
26  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN
27  ...                   NaN     NaN    NaN  NaN   NaN     NaN           NaN


    BEV  PHEV  Others
0   BEV  PHEV  Others
1   NaN   NaN     NaN
2   NaN   NaN     NaN
3   NaN   NaN     NaN
4   NaN   NaN     NaN
5   NaN   NaN     NaN
6   NaN   NaN     NaN
7   NaN   NaN     NaN
8   NaN   NaN     NaN
9   NaN   NaN     NaN
10  NaN   NaN     NaN
11  BEV  PHEV  Others
12  NaN   NaN     NaN
13  NaN   NaN     NaN
14  NaN   NaN     NaN
15  NaN   NaN     NaN
16  BEV  PHEV  Others
17  NaN   NaN     NaN
18  NaN   NaN     NaN
19  BEV  PHEV  Others
20  NaN   NaN     NaN
21  NaN   NaN     NaN
22  NaN   NaN     NaN
23  NaN   NaN     NaN
24  NaN   NaN     NaN
25  NaN   NaN     NaN
26  NaN   NaN     NaN
27  NaN   NaN     NaN

[28 rows x 68 columns]

In [290]:
fin4.shape

(28, 68)

In [295]:


with pd.ExcelWriter('12345.xlsx', engine='xlsxwriter') as writer:
    fin4.to_excel(writer, sheet_name='Sheet1')
    formatObje = writer.book.add_format({'num_format': '0.00%'})
    writer.book.sheetnames['Sheet1'].set_column('F:BQ', cell_format=formatObje)
    workbook = writer.book
    worksheet = writer.sheets['Sheet1']
    
    worksheet.write_array_formula(4,5,len(fin4)+1, 5, '{=1-SUM(G:I)}')

writer.close()

C:\Users\DanHan\anaconda3\envs\tamamori\lib\site-packages\xlsxwriter\workbook.py:339: UserWarning: Calling close() on already closed file.
  warn("Calling close() on already closed file.")